/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(13, 150, 47);
  }


.cor_logo {
    color: blueviolet;
}


.background-sections {
    padding-top: 4rem;
    position: relative;
}

.custom-container {
    
    margin-left: auto;
    margin-right: auto;
}

.word-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.custom-link {
    color: black; 
    font-weight: bold;
    text-decoration: none; 
}

.custom-link:hover {
    text-decoration: underline; 
}

.font {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;  
}

.font:hover {
    text-decoration: underline; 
}